#root {
  /* max-width: 1280px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #535931;
  padding: 10px 40px;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 160px;
  margin-top: 10px;
}

.footer {
  background-color: #b5bf84;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.footer button {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer button:hover {
  border: none;
}

.question-box {
  flex: 1;
  max-width: 1280px;
}
