.root {
  /* max-width: 1280px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #535931;
  padding: 10px 40px;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 160px;
  margin-top: 10px;
}
.fixed {
  position: fixed;
  top: 0;
  width: calc(100% - 80px);
  z-index: 9;
}

.footer {
  background-color: #b5bf84;
  padding: 20px 30px 20px;
}
.footer-element-right {
  justify-content: end;
  display: flex;
}
.footer-element-center {
  justify-content: center;
  display: flex;
}

button.link {
  padding: 0;
  background-color: transparent;
}
button.link:hover {
  background-color: transparent;
}
button.link:focus {
  outline: none;
}
button.link.light {
  color: white;
}
button.link.light:hover {
  color: #d7dcbc;
  background-color: transparent;
}

button.light:hover {
  background-color: #d7dcbc;
}

button.modal-button {
  padding-left: 60px;
  padding-right: 60px;
  border: 1px solid #535931;
  background-color: transparent;
  color: #535931;
  font-size: 18px;
}
button.modal-button:hover {
  background-color: #b5bf84;
  color: #535931;
  border-width: 1px;
  border-color: #535931;
}
button.modal-button:focus {
  border: none;
  outline: none;
}

button.highlight {
  background-color: #535931;
  color: white;
}

.question-box {
  max-width: 1280px;
  width: 100%;
  margin: 40px;
}

.question {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.option-image {
  border-radius: 2px;
  transform: scale(1);
  border-width: 5px;
  border: solid;
  border-color: transparent;
  transition: all 0.3s ease-in !important;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d7dcbc;
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  max-width: 60%;
}

.modal .modal-actions {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 24px;
}

.results {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  background-color: white;
}

.user-info {
  display: flex;
  gap: 8px;
  padding: 14px 40px;
  align-items: center;
  background-color: #d7dcbc;
}
.highlight {
  font-weight: 700;
}

.user-info-modal {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #535931;
  gap: 20px;
}
.input-section {
  display: flex;
}
.input-section input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #535931;
  align-items: center;
  color: white;
  flex: 1;
}
.input-section label {
  color: white;
  color: #535931;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.color-picker {
  display: flex;
  align-items: center;
}
.color-picker button {
  padding: 0;
  background-color: transparent;
  display: inline;
}
.color-picker .color-option {
  position: relative;
  margin-right: 12px;
  align-items: center;
  display: flex;
}
.color-picker .color-option button {
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.color-picker .color-option .color-circle {
  display: inline-block;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 2px;
}
.color-picker .color-option .color-circle.disabled {
  cursor: default;
}
.color-picker .add-color {
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline;
  height: 26px;
  width: 26px;
}

.picker-popup {
  position: absolute;
  z-index: 1000;
  top: 40px;
}

.results-box {
  background-color: white;
  flex: 1;
  text-align: left;
  padding: 40px;
  overflow: scroll;
}

.result-question {
  margin-bottom: 50px;
}

.result-gnng-option-list {
  margin-bottom: 20px;
}
