#root {
  /* max-width: 1280px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #535931;
  padding: 10px 40px;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 160px;
  margin-top: 10px;
}

.footer {
  background-color: #b5bf84;
  padding: 20px 30px 20px;
}
.footer-element-right {
  justify-content: end;
  display: flex;
}
.footer-element-center {
  justify-content: center;
  display: flex;
}

button.link {
  border: none;
  padding: 0;
  background-color: transparent;
}
button.link:hover {
  border: none;
}
button.link:focus {
  border: none;
  outline: none;
}

.question-box {
  flex: 1;
  max-width: 1280px;
  margin: 40px;
}
.option-image {
  border-radius: 2px;
  transform: scale(1);
  border-width: 5px;
  border: solid;
  border-color: transparent;
  transition: all 0.3s ease-in !important;
}
