:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #535931;
  background-color: #d7dcbc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #a88467;
  text-decoration: inherit;
}
a:hover {
  color: #a88467; /*maybe change that later*/
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  padding: 14px 28px;
  font-size: 22px;
  font-weight: 700;
  font-family: inherit;
  border: 3px solid #535931;
  background-color: #b5bf84;
  color: #535931;

  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}
button:hover {
  background-color: #535931;
  border-width: 3px;
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
